/*.item {*/
/*    width: 56px;*/
/*    height: 56px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*    font-size: 24px;*/
/*    font-family: "Roboto", sans-serif;*/
/*    border-radius: 100%;*/
/*    background-color: red;*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*}*/

.item {
    /*margin: 25px;*/
    position: absolute;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    font-size: 0;
    background-color: #42567A;
    z-index: 10;
}

.item:hover {
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: -22px;
    font-size: 20px;
    text-align: center;
    background: #F4F5F9;
    width: 56px;
    height: 56px;
    outline: 1px solid #303E5880;
    z-index: 10;
}


.item.active {
    position: absolute;
    top: -22px;
    left: -22px;
    font-size: 20px;
    text-align: center;
    background: #F4F5F9;
    width: 56px;
    height: 56px;
    outline: 1px solid #303E5880;
    z-index: 10;
}








