* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  position: relative;
}




svg {
  height: 530px;
  overflow: visible;
  width: 530px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.st0 { fill: none;
  stroke:#000000;
  stroke-width: 2;
  stroke-miterlimit:1;
}

.start {
  position: absolute;
  top: 50%;
  right: -30px;
}

.number{
  position: relative;
  top:10px;
}