.circle {
  position: absolute;
  left: 50%;
  margin-top: calc(265px + 215px);
}

svg {
  height: 530px;
  overflow: visible;
  width: 530px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st0 {
  fill: none;
  stroke-miterlimit: 1;
  flex-shrink: 0;
  border-radius: 50%;
  stroke: #42567A; /* Set the border color */
  stroke-width: 1px; /* Set the border width */
  opacity: 0.2;
}

.number {
  color: var(--Black-blue);
  position: relative;
  top: 15px;
}

@media (max-width: 320px) {
  .circle {
    display: none;
  }
}