.container {
  margin: 0 auto;
  max-width: 1440px;
  height: 1080px;
  border: 1px solid red;
  position: relative;
}


.counterContainer {
  position: absolute;
  top: 50%;
  transform: translate(-52%);
  z-index: -1;
}


.buttons{
  position: absolute;
  top:735px;
  left:80px;
}

.button{
  margin: 0 10px;
}
