.swiper-pagination-bullet-active {
    background-color: var(--Black-blue)
}

.swiper-pagination{
    position: absolute !important;
    top:220px !important;
    left: 40px !important;
}

.swiper {
    overflow: hidden !important;
    @media (max-width: 320px) {
        overflow-x: clip !important;
        overflow-y: initial !important;
    }
}