.counter {
  display: flex;
  gap: 95px;
  position: absolute;
  left: 50%; /* расположение элемента по центру */
  transform: translateX(-50%); /* смещение элемента влево на 50% его ширины */
  top: 37%;
}


.leftNumber,.rightNumber{
  font-family: PT Sans;
  text-align: center;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 80% */
  letter-spacing: -4px;
}

.leftNumber{
  color:var(--Iris-100)
}

.rightNumber{
  color: var(--Fuschia-100);
}

