button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
}

.nextButton {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(66, 86, 122, 0.5);
  border-radius: 50%;
  @media (max-width: 320px) {
    width: 25px;
    height: 25px;
  }
}

.nextButton:hover {
  cursor: pointer;
  background: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}