.title {
  margin: 0;
  max-width: 353px;
  position: absolute;
  top: 170px;
  left: 80px;
  color: var(--Black-blue);
  font-family: PT Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  @media (max-width: 320px) {
    top:59px;
    left:20px;
    font-size: 20px;
    width: 123px
  }
}

