.pagination{
  position: absolute;
  top:700px;
  left:80px;
  @media (max-width: 320px) {
   left: 20px;
    top:505px;
  }
}

.numbers{
  color: var(--Black-blue);
  margin: 0 0 20px;
  @media (max-width: 320px) {
    margin: 0 0 10px;
  }
}

.pages{
  color: #42567A;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.buttonsWrapper{
  margin: 0;
  padding: 0;
  @media (max-width: 320px) {
//width: 60px;
  }
}

.button{
  margin: 0 10px 0 0;
}