.itemTitle{
  margin: 0;
  position: absolute;
  top:238px;
  left: 63%;
  color: var(--Black-blue, #42567A);
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}